@page
@model LoginModel
@{
	ViewData["Title"] = "Login";
	Layout = "Shared/_LoginUI";
}
@section scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
@section Styles{
	<link href="@Href("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<div class="form-container">
    <div class="login-container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Log In</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", Placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", Placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password,"", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn-forget-password">Forget Password?</button>
                                <button asp-page-handler="LogIn" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p><a href="/reset" class="badge badge-primary">Forgot Password?</a></p>
        </div>
    </div>
    <div class="signup-container">
        @if (Model.Message != null)
        {
            <div class="d-flex justify-content-center h-100">
                <p>@Model.Message</p>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Signup</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="input-group form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.UserModel.Username, new { @class = "control-label" })
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.UserModel.Username, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserModel.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="input-group form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.UserModel.Email)
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.UserModel.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserModel.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="input-group form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.UserModel.Password, new { @class = "control-label" })
                                </div>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.UserModel.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserModel.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="input-group form-group">
                                <div class="col-md-8">
                                    @Html.LabelFor(m => m.UserModel.ConfirmPassword, new { @class = "control-label" })
                                </div>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.UserModel.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserModel.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button asp-page-handler="SignUp" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Hello!</h1>
                <p>To access more content please login with your personal info</p>
                <button asp-page-handler="signInOverlay" class="panel-button btn-primary" id="signIn" method="post">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello!</h1>
                <p>Sign up to start using our product.</p>
                <form asp-page-handler="signUpOverlay" method="post">
                    <button class="panel-button btn-primary" id="signUp">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>