@model WebFrontend.Models.FileScanner
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - WebFrontend</title>
		<link rel="stylesheet" href="~/css/normalise.css" />
		<link href="~/css/main2.css" rel="stylesheet" runat="server" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" />
	</head>
	<body>
	<!-- Main Menu
	------------------------------------------------------------------- -->
		<div id="main-menu-container">
			<div id="side-nav-container">
				<div class="side-nav-element">
					@if (Model.FileUpload != true)
					{
						<form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
							<input style="display: none" id="file-upload" asp-for="UploadFile" type="file" onchange="this.form.submit()"/>
							<label id="chooseFile-btn" for="file-upload"><img src="~/images/upload.png"></label>
						</form>
					} else if (Model.FileUpload == true)
					{
						<form method="post" enctype="multipart/form-data" id="scanBtn">
							<input style="display: none" asp-page-handler="Scan" id="file-scan" type="submit" value="Scan">
							<label id="scanFile-btn" for="file-scan"><img src="~/images/scan.png"></label>
						</form>
					}
				</div>
				<div class="side-nav-element">
					<a class="page-item" href="/Dashboard"><img src="~/images/dash.png"></a>
				</div>
				<div class="side-nav-element">
					<a class="page-item" href="/Profile"><img src="~/images/profile.png"></a>
				</div>
				<div class="side-nav-element">
					<a class="page-item" href="/Reports"><img src="~/images/reports.png"></a>
				</div>
				<div class="side-nav-element">
					<a class="page-item" href="/Admin"><img src="~/images/lock.png"></a>
				</div>
			</div>
			<div id="top-nav-container">
				<div id="top-nav-title">BIVULD<span>SCANNER</span></div>
				<div id="top-nav-username">@Model.Username()</div>
				<div id="top-nav-userpic">
					<img src="~/images/displayPic.jpg">
				</div>
				<div id="top-nav-logout">
				    <form method="post">
						<button asp-page-handler="Logout"><img src="~/images/logout.png"></button>
					</form>
				</div>
			</div>
		</div>
		<!-- Main View
	------------------------------------------------------------------- -->
		<div id="preloader-container" style="display: none;">
			<div id="preloader"></div>
		</div>
		<div class="right-main-container">
			<div class="right-view-container">
				@RenderBody()
			</div>
		</div>
		<div id="noise"></div>
		<script src="https://code.jquery.com/jquery-3.4.0.js"
				integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
				crossorigin="anonymous">
		</script>
		<script src="~/js/Noise/jquery/jquery.noisy.min.js"></script>
		<script src="~/js/main.js"></script>
		<script src="~/js/svg-img.js"></script>

		<script type="text/javascript">
            if(document.querySelector("#scanBtn") != null) {
            document.querySelector("#scanBtn").addEventListener("submit", function(e){
                document.querySelector("#preloader-container").style.display = "block";
            });
            }
		</script>
		@RenderSection("Scripts", required: false)
		@RenderSection("Styles", required: false)
	</body>
</html>
